#login {
  background-color: rgb(255, 145, 0);
  display: none;
}
#textEditor {
  background-color: rgb(147, 194, 238);
  display: none;
}
#logout-submit-button {
  display: none;
}
#wrongCred {
  display: none;
}

.card {
  background-color:rgb(253, 241, 231);
}
